@import "main2";
//@import "./../../node_modules/bootstrap/scss/bootstrap.scss";


@import "./../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "./../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./../../node_modules/bootstrap/scss/_utilities.scss";
@import "./../../node_modules/bootstrap/scss/_type.scss";
@import "./../../node_modules/bootstrap/scss/_buttons.scss";

@import "./../../node_modules/bootstrap/scss/_tooltip.scss";
@import "./../../node_modules/bootstrap/scss/_transitions.scss";
@import "./../../node_modules/bootstrap/scss/_popover.scss";

div {
    border: solid 1px black
}
p {
    color: green
}
.invisible-text {
    background-color: blanchedalmond;
    width: 260px
}
